@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Press+Start+2P&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 25px;
  background-image:url('starback.jpg');   
}

header{
  padding: 15px;
  width: 90%;
  height: 10rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 9px;
  text-align: center;
}

header h1{
  font-family: "Press start 2p", sans serif;
  font-size: 25px;
  color: white;
  text-shadow: 0 0 5px white,  0 0 10px white;
}

header p{
  color: white;
  font-family: Pixelify sans;
  text-shadow: 0 0 5px white;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.planetas{
  width: 90%;
  height: max-height;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 15px;
}

.caixa{
  padding: 1rem;
  text-align: center;
  font-family: "Pixelify sans";
  color: white;
  font-size: 12px;
  margin-bottom: 15px;
  background-color: rgba(7, 0, 108, 0.6);
  height: 120px;
  width: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-color: #8c52ff;
  border-width: 5px;
  border-style: solid;
  border-radius: 13px;
}

.sla{
  width:100%;
  display: flex;
  justify-content: flex-start;
}

.voltar{
  margin-top: 30px;
  margin-left: 20px;
  font-family: "Press start 2P";
  font-size: 10px;
  color: white;
  text-decoration: none;
  background: linear-gradient(180deg, #260bc2, #743c82);
  height: 50px;
  width: 100px;
  border-radius: 70px;
  border: 4px #141268 solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.voltar:hover{
  transform: scale(1.3);
  transition: 0.5s;
}

footer{
  padding: 10px;
  margin-top: 80px;
  width: 100%;
  height: 200px;
  background-color: #690d71;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  color: white;
  font-family: sans serify;
}

.extra{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  font-family: "Pixelify sans";
}

.extra a{
  text-decoration: none;
  color: white;
}

.extra a:hover{
  text-decoration: underline;
  text-transform: uppercase;
  font-style: italic;
}
