@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Press+Start+2P&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-image: url('starback.jpg');
}


header{
  width: 80%;
  height: 100px;
  color: white;
  text-shadow: 0 0 5px white;
  font-family: "Press start 2p";
  font-size: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.principal{
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 12px;
}

.asub{
  background: linear-gradient(180deg, blue, darkblue);
  width:90%;
  height: max-height;
  padding: 5px 0 5px 7px;
  color: lightyellow;
  font-family: sans-serif;
  border-radius: 10px 10px 0 0;
}

.bsub{
  background: linear-gradient(180deg, #8F00DD, #6E0090);
  width:80%;
  height: max-height;
  padding: 5px 0 5px 7px;
  color: lightyellow;
  font-family: sans-serif;
  margin-left:20%;
}

.csub{
  background: linear-gradient(180deg, #FF63FF, #C327C3);
  width:70%;
  height: max-height;
  padding: 5px 0 5px 7px;
  color: lightyellow;
  font-family: sans-serif;
  border-radius: 10px 0 10px 0;
  margin-left:30%;
}

.dsub{
  background: linear-gradient(180deg, #FFC300, #FF7F00);
  width:60%;
  height: max-height;
  padding: 5px 0 5px 7px;
  color: #170080;
  font-family: sans-serif;
  border-radius: 0 0 10px 10px;
  margin-left:40%;
}

footer{
  color:white;
  text-align: center;
  height: 100px;
  display: flex;
  align-items: center;
}
