@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Press+Start+2P&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-image: url('starback.jpg');
}

header{
  padding: 15px;
  background-image: url('sistema.jpg');
  background-size: 100% 10rem;
  width: 90%;
  height: 10rem;
  border-radius:0 0 30px 30px ;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 9px;
  border-width: 0 6px 6px 6px;
  border-color: #1818b7;
  border-style: solid;
}

header h1{
  font-family: "Press start 2p", sans serif;
  font-size: 25px;
  color: white;
  text-shadow: 0 0 5px white,  0 0 10px white;
}

header p{
  text-align: center;
  font-family: "Pixelify sans", sans serify;
  font-size: 15px;
  color:white;
}

.pag{
  width: 95%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
.pag a{
  text-decoration: none;
}

nav .open{
  font-family: "Pixelify sans", sans serif;
  color: white;
  padding: 0.6rem;
  height: max-height;
  width: max-width;
  background: linear-gradient(180deg, #fc7ee8, #472889);
  border-color: #ffc9f6;
  border-style: solid;
  border-width: 3px;
  border-radius: 7px; 
}

nav .close{
  font-family: "Pixelify sans", sans serif;
  color: #ffed8f;
  padding: 0.6rem;
  height: max-height;
  width: max-width;
  background: linear-gradient(180deg, #1a1055, #743c82);
  border-color: #050052;
  border-style: solid;
  border-width: 3px;
  border-radius: 7px; 
}

.close:hover{
  color: white;
  transition: 0.5s;
    transform: scale(1.3);
    background: linear-gradient(180deg, #fc7ee8, #472889);
  border-color: #ffc9f6;
}

.confi{
  margin: 60px 0 60px 0;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 14px;
  text-align: center;
  color:white;
  font-weight: bold;
  font-family: sans serif;
}

.botoes{
  display: flex;
  flex-direction: row;
  gap: 28px;
}

.botoes button{
  font-size: 30px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.botoes button:hover{
  transition: 0.5s;
  transform: scale(1.3) rotate(360deg);
}

.aumentar{
  background: linear-gradient(180deg, lightgreen, greenyellow);
  border: 4px solid #ecffa8;
}

.diminui{
  background: linear-gradient(180deg, #ff8c8c, red);
  border: 4px solid #850101;
}

.sistemas{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selecao{
  padding: 2rem;
  height: 400px;
  width: 90%;
  color: white;
  background: rgba(7, 0, 108, 0.6);
  border-color: rgba(115, 255, 102, 0.6);
  border-width: 6px;
  border-style:solid;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  margin-top: 20px;
}

.selecao h2{
  text-align: center;
  color: #ffed8f;
  font-family: "Press start 2p";
  font-size: 20px;
}

.caixote{
  overflow: auto;
}

.caixa{
  padding: 1rem;
  text-align: center;
  font-family: "Pixelify sans";
  margin-bottom: 15px;
  background-color: #502c97;
  height: 150px;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-color: #130328;
  border-width: 6px;
  border-style: solid;
  border-radius: 13px;
  color: white;
  text-decoration: none;
}

.explicacao{
  padding: 2rem;
  height: 400px;
  width: 90%;
  color: white;
  background: rgba(80, 44, 151, 0.6);
  border-color: rgba(13, 1, 255, 0.6);
  border-width: 6px;
  border-style:solid;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.explicacao h2{
  text-align: center;
  color: #ffed8f;
  font-family: "Press start 2p";
  font-size: 20px;
}

.texto{
  overflow-x: hidden;
  overflow-y: auto;
  height: 80%;
  width: 90%;
}

footer{
  padding: 10px;
  margin-top: 80px;
  width: 100%;
  height: 200px;
  background-color: #690d71;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  color: white;
  font-family: sans serify;
}

.extra{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  font-family: "Pixelify sans";
}

.extra a{
  text-decoration: none;
  color: white;
}

.extra a:hover{
  text-decoration: underline;
  text-transform: uppercase;
  font-style: italic;
}
